.login-simple {
  margin-block: 1%;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding-inline: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  input[type="text"] {
    height: 20px;
    margin-block: 1%;
  }
  input[type="email"] {
    height: 20px;
    margin-block: 1%;
  }

  input[type="button"] {
    height: 28px;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #ebebeb;
    border: none;
  }
}
